<meta name="view-transition" content="same-origin">
<main class="pl-[5rem] pr-[5rem] mt-5 ">
    <span class="font-medium tracking-widest text-gray-500">Electronics / Audio / Headphones / Shop by type / <span class="font-semibold text-neutral-900"> {{product.name}}</span></span>
    <div class="flex mt-6 gap-x-[5rem] flex-wrap pb-10 " >
        <div class="flex-[1.2] flex flex-col   gap-y-4"> 
            <img  class="bg-[#ebebeb] p-3 rounded-xl object-contain h-[34rem] w-[100%]" loading="lazy" src={{product.image}} alt="product pic"/>
            <div class="flex gap-x-3">
                    <img src={{product.image}} class=" w-[25%] p-3 h-[8rem] rounded-xl bg-[#ebebeb] object-contain" alt="product pic">
                    <img src={{product.image}} class=" w-[25%] p-3 h-[8rem] rounded-xl bg-[#ebebeb] object-contain" alt="product pic">
                    <img src={{product.image}} class=" w-[25%] p-3 h-[8rem] rounded-xl bg-[#ebebeb] object-contain" alt="product pic">
                    <img src={{product.image}} class=" w-[25%] p-3 h-[8rem] rounded-xl bg-[#ebebeb] object-contain" alt="product pic">
                </div>
        </div>
        <div class="flex flex-1 flex-col gap-y-8 divide-y  ">
            <div class="flex flex-col gap-y-2  tracking-wider ">
                <span class="font-bold text-4xl" >{{product.name}}</span>
                <p class="text-neutral-500 font-medium ">
                    {{product.description}}
                </p>
                <div class="flex items-center " >
                    <ng-container *ngFor="let star of stars">
                    <mat-icon  inline="true" style="font-size: 1.3rem;"  class="text-[#0aac0c]  text-[1.7rem]">star</mat-icon>
                 </ng-container>
                  <span class="text-[0.7rem] ml-1">
                    (120)
                  </span>
              </div>
            </div>
            <div class="flex flex-col gap-y-1 pt-3 tracking-wider ">
                <span class="text-3xl font-semibold">Price: ${{product.price}}</span>
                <span class="text-gray-500 font-normal">Suggested payments with 6 months special financing.<a routerLink="/" class="underline text-neutral-900">Details</a> </span>
            </div>
            <div class="flex flex-col gap-y-4 ">
                <span class="pt-3 font-semibold tracking-wider text-[1.1rem]">Choose a Color</span>
                <div class="flex gap-x-6 items-center">
                   <div class="border-[2px] border-neutral-900 rounded-full p-1">
                    <button class=" bg-green-400 p-5 rounded-full text-white self-start"></button>
                   </div>
                   <div class=" rounded-full p-1">
                    <button class=" bg-red-400 p-5 rounded-full text-white self-start"></button>
                   </div>
                   <div class=" rounded-full p-1">
                    <button class=" bg-gray-400 p-5 rounded-full text-white self-start"></button>
                   </div>
                   <div class=" rounded-full p-1">
                    <button class=" bg-blue-400 p-5 rounded-full text-white self-start"></button>
                   </div>
                </div>
            </div>
            <div class="flex pt-5 gap-x-5">
                <div class="flex   gap-x-5 justify-around font-medium text-[#013d29] items-center w-[10rem] h-[2.5rem] bg-[#ebebeb] pl-4 pr-4 pt-3 pb-3 rounded-2xl">
<button class="text-xl active:scale-[0.98]" (click)="decrement()">
    -
</button>
<span class="text-xl">
    {{getQty()}}
</span>
<button class="text-xl active:scale-[0.98]" (click)="increment()">
+
</button>
                </div>
                <p class="font-medium text-neutral-800">
                    Only <span class="text-[#ffa766]  "> 12 items</span>  left ! <br>
                    Don't miss it 
                </p>
            </div>
            <div class="flex gap-x-4">
               <a routerLink="/checkout"><button  class="bg-[#013d29] active:scale-[0.98] font-medium tracking-wider text-white w-[14rem] h-[2.7rem] rounded-3xl mt-5">Buy Now</button></a> 
                <button class="border-[#013d29] active:scale-[0.98] font-medium tracking-wider border text-[#013d29] w-[14rem] h-[2.7rem] rounded-3xl mt-5">Add to Cart</button>
                </div>
                <div class="flex flex-col tracking-wider">
                    <div class="h-[4rem] border-[0.5px] border-gray-300 rounded-t-xl flex gap-x-2 p-3">
                        <span  class="material-icons text-[#ffa766] text-[1.5rem]">
                            local_shipping
                            </span>
                        <div class="flex-col flex gap-y-1 font-medium">
                            <span>
                                Free Develivery 
                            </span>
                            <span class="underline text-neutral-900">
                                Enter your Postal code for Delivery Availability
                            </span>
                        </div>
                    </div>
                    <div class="h-[4rem] border-[0.5px] border-gray-300 rounded-b-xl flex gap-x-2 p-3">
                        <span  class="material-icons text-[#ffa766] text-[1.5rem]">
                            assignment_return
                            </span>
                        <div class="flex-col flex gap-y-1 font-medium">
                            <span>
                                Return Develivery 
                            </span>
                            <span class="font-medium text-neutral-500 ">
                               Free 30Days Delivery Returns.<a routerLink="/" class="underline text-neutral-900">Details</a>
                            </span>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
</main>
