<footer class="p-4 ml-[7rem]  gap-y-8 rounded-t-lg mr-[7rem] mt-5 flex flex-col bg-[#013d29]">
<img class="w-[13rem]  object-contain" src="../../../assets/whitelogo.png"  />
<div class="flex pl-7 pr-7  justify-between">

<div class="flex gap-x-5">
    <ul class="flex font-medium gap-y-1 flex-col">
        <li class=" text-white text-[0.95rem]">Usefull links</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">Deals</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">What's new</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">Delivery</li>
    </ul>
    <ul class="flex font-medium gap-y-1 pl-7 pr-7 flex-col">
        <li class=" text-white text-[0.95rem]">Stay in touch</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">Facebook</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">Instagram</li>
        <li class="heffect text-gray-100 font-light  text-[0.8rem]">Twitter</li>
    </ul>
</div>
<div class="flex flex-col w-[30%] gap-y-2">
    <label class="text-white font-medium text-base">Subscribe to our newsletter</label>
    <div class="flex w-full gap-x-2">
        <input class="p-2 text-[#013d29] rounded-lg focus:outline-1 focus:outline-white  w-[100%]" type="email" placeholder="Enter your email" />
        <button class="border active:scale-[0.98]  border-white  text-white pl-3 pr-3 pt-2 pb-2 rounded-lg">Subscribe</button>
    </div>
</div>
</div>
<span class="text-white  text-[0.8rem] pl-[1rem]">© 2023, All Rights Reserved</span>
</footer>
<div>