<nav class="flex items-center justify-evenly flex-wrap  p-3">
   <img routerLink=""  class="mix-blend-darken w-[11rem] hover:cursor-pointer object-contain " src="../../../assets/logo.png" alt="logo" />
    
    <ul class="flex flex-wrap   gap-x-10 items-center font-medium  ">
        <li class="flex  effect relative  hover:cursor-pointer tracking-wider text-[0.8rem] items-center gap-x-1">Categories <mat-icon>keyboard_arrow_down</mat-icon></li>
        <li class="  effect relative  hover:cursor-pointer tracking-wider text-[0.8rem]">Deals</li>
        <li class=" effect relative  hover:cursor-pointer tracking-wider text-[0.8rem]">What's new</li>
        <li class="  effect relative hover:cursor-pointer tracking-wider text-[0.8rem]">Delivery</li>
    </ul>
    <div class="flex flex-wrap items-center relative w-[13rem]  rounded-2xl bg-gray-200">
        <input [(ngModel)]="value" id="search" (keyup)="handleSearch($event)"  type="text"  class="p-2 focus:outline-[#08402d]  w-[100%] bg-transparent placeholder:font-medium placeholder:pl-2   rounded-2xl" placeholder="Search Product" >
        <mat-icon (click)="Search(value)"  
        routerLinkActive="router-link-active" class="absolute opacity-[0.7] hover:cursor-pointer z-1 right-3 top-[.5rem]">search</mat-icon>
    </div>
    <ul class="flex flex-wrap items-center gap-x-5">
        <li *ngIf="!login" routerLink="/login"  class=" hover:font-semibold hover:cursor-pointer flex items-center gap-x-2">  <span class="material-icons text-[1.5rem]">
            login
            </span> Login</li>
            <li *ngIf="login"   class=" hover:font-semibold hover:cursor-pointer flex items-center gap-x-2">
                
                <span class="material-icons text-[1.5rem]">
                    person
                </span>{{user}}</li>
            <li routerLink="cart" class=" hover:font-semibold hover:cursor-pointer flex items-center gap-x-2"><span class="material-icons text-[1.5rem]">
            add_shopping_cart 
            </span> Cart({{cart.length}})</li>
            <li *ngIf="login" (click)="logout()"   class=" hover:font-semibold hover:cursor-pointer flex items-center gap-x-2">
                
                <span class="material-icons">
                    logout
                    </span>Logout</li>
    </ul>
    
</nav>
